.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    .nav.nav-tabs {
        margin-bottom: 7px;
    }
    .login-or {
        position: relative;
        font-size: 18px;
        color: #aaa;
        margin: 10px;
        .hr-or {
            background-color: #cdcdcd;
            height: 1px;
        }
        .span-or {
            position: absolute;
            display: block;
            left: 50%;
            top: -15px;
            margin-left: -25px;
            background-color: #f9f9f9;
            width: 50px;
            text-align: center;
        }
    }
    .google {
        background-color: #6b4672;
    }
    .facebook {
        background-color: #3b5998;
    }
    .twitter {
        background-color: #1da1f2;
    }
}
