.user-menu {
    .user-name {
        .first {
            vertical-align: sub;
        }
        .avatar {
            width: 28px;
            height: 28px;
            border-radius: 14px;
        }
    }
}
