<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a ui-sref="app.index.dashboard" class="navbar-brand">ERD</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav navbar-right">
                <li class="user-menu">
                    <div class="btn-group">
                        <a class="btn btn-link" ng-if="$ctrl.$storage.user" ui-sref="app.index.user($ctrl.$storage.user)">
                                <img ng-if="$ctrl.$storage.user.value.image" ng-src="{{$ctrl.$storage.user.value.image}}" class="avatar" alt="Cinque Terre">
                                {{$ctrl.$storage.user.value.name}}
                        </a>
                        <a class="btn btn-link" ng-if="!$ctrl.$storage.user" ui-sref="app.auth">
                            Not Authorised
                        </a>
                        <a class="btn btn-link" ng-if="!$ctrl.$storage.user" ui-sref="app.auth">
                            Log In
                        </a>
                        <a class="btn btn-link" ng-if="$ctrl.$storage.user" ui-sref="app.auth">
                            Log Out
                        </a>
                    <div class="btn-group">
                </li>
            </ul>
        </div>
    </div>
</div>
